*{
    margin: 0px;
    padding: 0px;
}

/*header section*/

.container{
    background-color: #E554731A;
    height: 100%;
}
.img-sec img{
    width: 400px;
height: 475px;

}
.img-sec{
    margin-bottom: -54px;
    
}

.top-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.text-part h2{
    color: #272727;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 25px;
    
}
.text-part p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 25px;
    width: 500px;
}
.text-part button{
    border-radius: 8px;
    background: #E55473;
    padding: 10px 15px;
    color: #FFF;
    border: none;
}

/*featured flower section*/

.flower-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.featured{
    max-width: 1140px;
    margin: 0 auto;
}

.flower-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.p-text {
    width: 400px;
    color: rgba(39, 39, 39, 0.60);
   
}
.flower-container p{
   text-align: center;
   margin-top: 12px;
   text-decoration: underline;
   color: #272727;
   background: #FFF;
}
.flower-img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 350px;
    height: 380px;

}
.flower-img img{
    width: 210px;
    text-align: center;
    padding-top: 90px;
    padding-left: 52px; 
}
.flower-img-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 350px;
    height: 380px;
}
.flower-img-1 img{
    width: 280px;
    text-align: center;
    padding-top: 80px;
    padding-left: 45px;
}
.flower-img-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 350px;
    height: 380px;
}
.flower-img-2 img{
    width: 210px;
    text-align: center;
    padding-top: 65px;
    padding-left: 65px;
}

/*hot deal section*/

span{
    color: #E55473;
}
.hot button{
    border-radius: 8px;
    background: #E55473;
    padding: 10px 15px;
    border: none;
    color: #FFF;
}
.hot p{
    width: 440px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 20px;
    }
.hot-deal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 110px;
}
.hot{
    text-align: center;
    margin-left: 190px;
}
.hot h2{
    color: #272727;
    font-size: 30px;
    font-weight: 650;
    margin-bottom: 20px;
   
}
.hot-img img{
    width: 300px;
    padding: 80px;
    margin-right: 20px;
}

/* instagram section*/

.insta{
    background: #FFF;
    max-width: 1140px;
    margin: 0 auto;
}

.ins-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.pa-text {
    width: 400px;
    color: rgba(39, 39, 39, 0.60);  
}
.flower-collection{
    display: flex;
    justify-content: space-around;
   

}
.flower-collection img{
    width: 242px;
    height: 296px;
}

/* latest deal section*/

.latest-deal{
    
    max-width:  1140px;
    margin: 0 auto;
    background-image: url('Flower Asset/Rectangle\ 9.png');
    background-position: center;
    background-size: cover;
    height: 350px;
    margin-top: 100px;
    margin-bottom: 110px;
}
.deal button{
    border-radius: 8px;
    background: #E55473;
    padding: 12px 28px;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}
.deal input{
    border-radius: 8px;
    background: #FFF;
    padding: 15px 50px;
    border: none;
    width: 280px;
}
.latest{
    display: flex;
    justify-content: center;
    padding: 110px;
   
}
.latest h2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.latest p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 25px;
}

